.dashboard-container {
  width: 100vw;
  height: calc(100vh - 65px - 28px);
  display: flex;
  justify-content: space-between;
}
.sidebar-menu {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  width: 25vw;
  min-width:200px;
}
.sidebar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #a5a5a5;
  color: #fff;
  text-align: center;
  width:100%;
  height: 62px;
  font: 700 24px Poppins, sans-serif;
  text-wrap: nowrap;
}

.selected {
  background-color: #fff;
  color: #a5a5a5;
}