.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75vw;
    padding: 30px 60px;
    gap:40px;
    overflow: auto;
}

.go-back {
    text-decoration: none;
    background-color: #d9d9d9;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    font:20px Poppins, sans-serif;
    padding:7px 30px;
    border-radius: 10px;
}

.go-back:hover {
    text-decoration: underline;
}

.form-container {
    width: auto;
    background: #d9d9d9;
    padding: 20px 40px;
    display:flex;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
}

.form-title {
    color: #0048ff;
    font: 700 44px Poppins, sans-serif;
}

.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.user-details .input-box {
    width:45%;
    display:flex;
    flex-direction:column;
}

.user-details span{
    font-weight: 500;
}

.user-details .input-box input, .user-details .input-box select {
    height: 45px;
    width: auto;
    outline: none;
    border-radius: 5px;
    border:none;
    padding:0 15px ;
    font-size: 16px;
}

.user-details .input-box textarea {
    height: 45px;
    width: auto;
    outline: none;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    border:none;
    padding:7px 15px ;
    font-size: 16px;
    resize: vertical;
}

.form-action {
    width:45%;
}
.form-buttons {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.form-button {
    background-color: #0048ff;
    color:white;
    border-radius: 10px;
    border:none;
    outline: none;
    cursor:pointer;
    width:40%;
    height:50px;
    font-size:20px;
}

.upload-your-image {
    width:45%;
    background-color: white;
}